.reveal {
	font-size: 30px;
}

/* disables automatic uppercase for headings */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	text-transform: none;
}

/* center slide content */
.reveal .slide-content {
	margin: auto; /* was "0"*/
	width: -moz-fit-content;
	width: fit-content; /* was "initial" or "100%"*/
}

.reveal .slide-content p {
	text-align: left; /* align-left text in paragraphs. This does not change the alignment of the author, because the first slide has no ".slide-content". */
	margin-top: 0;
	margin-bottom: 15px;
}

/* align-left text in all lists and add margin-bottom */
.reveal .dlist,
.reveal .olist,
.reveal .ulist {
	text-align: left;
	margin-bottom: 15px;
}

/* reduce margin-bottom of paragraph for list items */
.reveal .olist p,
.reveal .ulist p {
	margin-bottom: 8px;
}

.reveal blockquote {
	width: -moz-fit-content;
	width: fit-content; /* was 70% */
}

.reveal dl {
	margin-left: 0;
}

.reveal dt .menuseq,
.reveal dt code {
	font-weight: normal;
}

.reveal .menu,
.reveal .submenu,
.reveal .menuitem,
.reveal code {
	font-family: monospace;
	color: #a0ffff;
	white-space: nowrap;
}

/* avoid background shadow*/
.reveal .highlightjs {
	font-size: 80%;
	width: fit-content;
}

/* avoid scrollbars */
.reveal .highlightjs > code {
	max-height: unset;
	tab-size: 4;
	width: fit-content;
}

.reveal :not(.highlightjs) > code {
	color: #a0ffff;
}

/* workaround for hash symbol (https://asciidoctor.org/docs/user-manual/#custom-styling-with-attributes) which does not work */
.reveal .mark {
	color: #ee5;
}

.reveal .gold {
	color: gold;
}

.reveal .limegreen {
	color: limegreen;
}

.reveal .orangered {
	color: orangered;
}

.reveal .aqua {
	color: aqua;
}

.reveal .slide-content .text-align-center * {
	text-align: center;
}

.reveal .slide-content .text-align-right * {
	text-align: right;
}

.reveal .left {
	float: left;
}

.reveal .small {
	font-size: 75%;
}

.reveal .tiny {
	font-size: 57%;
}

.reveal .big {
	font-size: 133%;
}

.reveal .huge {
	font-size: 178%;
}

.reveal table,
.reveal th,
.reveal td {
	border-width: 0;
	border: none;
}

.reveal td {
	vertical-align: middle !important;
}

.reveal .slide-content td p {
	margin-top: 5px;
	margin-bottom: 5px;
}

img {
	background-color: unset !important;
	border: unset !important;
	margin: 0 !important;
	box-shadow: unset !important;
}

.line-through {
	text-decoration: line-through;
}
